@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Lato;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.header-top {
  background: #222222;
}

.header-logo {
  padding-right: 41px;
}

.header-basket {
  position: relative;
  display: block;
}

.basket-img {
  z-index: 0;
  position: absolute;
}

.header-basket:hover :first-child {
  fill: orange;
}

.header-basket:active :first-child {
  fill: red;
}

.circle {
  z-index: 1;
  position: absolute;
  left: 26px;
  top: -5px;
}

.five {
  z-index: 2;
  position: absolute;
  left: 32px;
  top: 0;
}

.header-center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 14.4%;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  min-height: 764px;
  margin: 0 0 65px 0;
  background-color: #F1E4E6;
  background-image: url(images/man_top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left 20px;
}

.banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: inherit;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/*код хлебных крошек каталог*/
.breadcrumb-item {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.page-name-catalog {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 194px;
  text-transform: uppercase;
}

.breadcramb-act {
  color: #F16D7F;
}

.breadcramb-header-catalog {
  padding: 23px 230px 23px 235px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 148px;
}

.breadcramb {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  list-style-type: none;
}

.breadcrumb-item-link {
  margin: auto;
}

.breadcrumb-item {
  margin: 0 7.29px;
}

/*конец кода хлебных крошек каталог*/
/*код розовой палочки*/
.tittle {
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 377px;
  padding-right: 8.7%;
}

.tittle::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 10px;
  left: -26px;
}

/*конец кода розовой палочки*/
/*код текста*/
.text {
  font-family: 'Lato', sans-serif;
}

.text-black-900 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.text-black-700 {
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  color: #222222;
}

.text-black-400 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.text-grey-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.text-rose-700 {
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  color: #F16D7F;
}

.text-wite-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.text-rose-400 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.text-rose-300 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.text-gray-300 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

/*конец кодов текста*/
/*кнопка поиска*/
.page-header-search-form {
  width: 26px;
  min-height: 26px;
  position: relative;
  padding-top: 10px;
}

.page-header-search-form:hover svg {
  fill: orange;
}

.page-header-search-btn {
  width: 20px;
  min-height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  left: 35px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.header-contacts {
  padding-left: 33px;
  padding-right: 33px;
}

.header-contacts:hover :first-child {
  fill: orange;
}

.header-contacts:active :first-child {
  fill: red;
}

.page-header-search-btn:focus {
  width: 180px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.page-header-search-btn:focus ~ label > svg {
  fill: green;
}

.page-header-search-btn:active ~ label > svg {
  fill: red;
}

/*конец кода кнопки поиска*/
/*код меню поиска*/
.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
  background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
  background-color: red;
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}

.menu-btn span::after {
  top: 10px;
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ .menu-list {
  display: block;
}

#menu-switch:checked ~ .page-header-banner {
  border: 8px solid red;
}

.menu-list {
  display: none;
  width: 100%;
  max-width: 232px;
  min-height: 764px;
  /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 75px;
  /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
  right: 0;
  z-index: 20;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6F6E6E;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-list-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
  background: #535353;
}

.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu-title > a,
.menu-list-item > a,
.menu-sublist-item > a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.menu-list-item {
  list-style-type: none;
}

.menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list-item:hover > a {
  color: #9889D7;
}

.menu-list-item:active > a {
  color: #9D2334;
}

.menu-sublist {
  padding: 0 0 0 21.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.menu-sublist-item {
  list-style-type: none;
}

.menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6F6E6E;
}

.menu-sublist-item a {
  text-decoration: none;
}

.menu-sublist-item:hover a {
  text-decoration: underline;
}

.menu-sublist-item:active a {
  text-decoration: none;
}

/*конец кода меню*/
/*код навигации по сайту*/
.catalog-nav {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px 44% 64px 14.4%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-naw-item,
.product-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.catalog-txt {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.catalog-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}

.menu-list-close-btn:checked ~ .menu-list {
  visibility: hidden;
}

.catalog-menu-btn:hover span,
.catalog-menu-btn:hover span::before,
.catalog-menu-btn:hover span::after {
  background-color: orange;
}

.catalog-menu-btn:active span,
.catalog-menu-btn:active span::before,
.catalog-menu-btn:active span::after {
  background-color: red;
}

.catalog-menu-btn span {
  display: block;
  width: 50%;
  height: 3px;
  background-color: #000000;
  position: relative;
}

.catalog-menu-btn span::before {
  content: "";
  display: block;
  width: 150%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: -6px;
  left: 0;
}

.catalog-menu-btn span::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: -10px;
  left: 0;
}

.catalog-menu-btn span::after {
  top: 6px;
}

#catalog-menu-switch {
  display: none;
}

#catalog-menu-switch:checked ~ .catalog-menu-list {
  display: block;
}

#catalog-menu-switch:checked ~ .page-header-banner {
  border: 8px solid red;
}

.catalog-menu-list {
  display: none;
  width: 100%;
  max-width: 360px;
  min-height: 531px;
  /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 339px;
  /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
  left: 226px;
  z-index: 30;
}

.catalog-menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 300px;
}

.catalog-menu-list-close-btn:checked ~ .catalog-menu-list {
  visibility: hidden;
}

.catalog-menu-list-close-btn::before,
.catalog-menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6F6E6E;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.catalog-menu-list-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog-menu-list-close-btn:hover::before,
.catalog-menu-list-close-btn:hover::after {
  background: #B7B6B6;
}

.catalog-menu-list-close-btn:active::before,
.catalog-menu-list-close-btn:active::after {
  background: #535353;
}

.catalog-menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.catalog-menu-title > a,
.catalog-menu-list-item > a,
.catalog-menu-sublist-item > a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.catalog-menu-list-item {
  list-style-type: none;
}

.catalog-menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #6F6E6E;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-menu-list-item:hover > a {
  color: #EF5B70;
}

.catalog-menu-list-item:active > a {
  color: #9D2334;
}

.catalog-menu-sublist {
  padding: 0 0 0 21.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.catalog-menu-sublist-item {
  list-style-type: none;
}

.catalog-menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6F6E6E;
}

.catalog-menu-sublist-item a {
  text-decoration: none;
}

.catalog-menu-sublist-item:hover a {
  text-decoration: underline;
}

.catalog-menu-sublist-item:active a {
  text-decoration: none;
}

.dropdown-menu {
  display: none;
}

.dropdown-toggle {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.menu-title {
  display: block;
  width: 100%;
  max-width: 377px;
  margin: 0 95px 36px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 49px;
  line-height: 51.6px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.menu-title::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #F16D7F;
  position: absolute;
  top: -9px;
  left: -16px;
}

.nav-item-center {
  padding-left: 10px;
}

.list-size {
  width: 80px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-size-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 60%;
}

.list-size-btn-title:hover {
  color: #F16D7F;
}

.list-size-btn-title:hover svg {
  fill: currentColor;
}

.list-size-btn-title:active {
  color: black;
}

.list-size-btn-title:active svg {
  fill: currentColor;
}

#switch {
  display: none;
}

#switch:checked ~ .list-size-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-size-wrp {
  width: 79px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 0px;
}

.list-size-item {
  display: none;
}

.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2)::before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4)::before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6)::before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8)::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png");
  background-size: cover;
  background-position: center;
}

.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

/*конец кода навигации по сайту*/
/*код рекламного блока*/
.showcase1 {
  background-image: url(images/card1.png);
}

.showcase2 {
  background-image: url(images/card2.png);
}

.showcase3 {
  background-image: url(images/card3.png);
}

.showcase4 {
  height: 180px;
  max-width: 1140px;
  background-image: url(images/card4.png);
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
  margin-bottom: 96px;
}

.showcase {
  width: 360px;
  height: 260px;
  list-style-type: none;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.showcase-line {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.content {
  max-width: 1140px;
  margin-left: 14.4%;
  text-decoration: none;
  text-transform: uppercase;
}

.showcase-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: inherit;
  width: 100%;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25% 0;
}

.showcase-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: inherit;
  width: 100%;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
}

/*конец кода рекламного блока*/
.between-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 86px 338px 0 230px;
}

.socials-item {
  Width: 31.45px;
  Height: 32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

/*код карточек товара*/
.products {
  width: 100%;
  margin: 0 0 95.5px 0;
}

.products-list {
  list-style-type: none;
  margin: 0 auto 18px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center-block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  margin: 0 auto;
  min-height: inherit;
}

.products-item {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 0 30px 0;
  position: relative;
  background: #F8F8F8;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item:hover .products-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item:hover .products-item-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.products-item:hover .products-item-btn:hover svg {
  fill: #000;
}

.products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.products-item:hover .products-item-btn:active svg {
  fill: #fff;
}

.products-item:hover .products-item-photo-wrp::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
}

.products-item-photo-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F7E4E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.products-item-photo {
  display: block;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-item-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 160px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}

.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-btn {
  display: block;
  width: 100%;
  max-width: 211px;
  margin: 0 auto;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #F26376;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #F26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  word-break: break-all;
}

.products-btn:hover {
  background-color: #F26376;
  color: #fff;
}

.products-btn:active {
  background-color: #fff;
  border: 2px solid #F26376;
  color: #F26376;
}

/*конец кода карточек товара*/
/*начало кода черного блока перед подвалом*/
.center-block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: inherit;
}

.features {
  width: 100%;
  min-height: 341px;
  padding: 20px;
  background-color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features-list {
  list-style: none;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.features-item:nth-child(4n-1) {
  margin: 0;
}

.features-item-icon {
  display: block;
  margin: 0 0 28px 0;
  fill: #F16D7F;
}

.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23.95px;
  color: #FBFBFB;
  text-align: center;
}

.features-item-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 16.77px;
  text-align: center;
  color: #FBFBFB;
}

/*конец кода черного длока перед подвалом*/
/* ======= subscribe ======= */
.subscribe {
  width: 100%;
  min-height: 448px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("https://i.postimg.cc/tJVR1VWX/Layer-41.png");
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("https://i.postimg.cc/tJVR1VWX/Layer-41.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F3F3F3;
}

.subscribe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 360px;
}

.subscribe-info-avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 0 30px 0;
  border-radius: 50%;
  overflow: hidden;
}

.subscribe-info-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.subscribe-info-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribe-form-wrp {
  width: 100%;
  max-width: 355px;
}

.subscribe-form-title,
.subscribe-form-subtitle {
  color: #222224;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.subscribe-form-title {
  display: block;
  margin-top: 49px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40.13px;
}

.subscribe-form-subtitle {
  display: block;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 356px;
  margin: 0 auto;
}

.subscribe-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 256px;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 30px 0 0 30px;
  background-color: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form-btn {
  display: block;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0 30px 30px 0;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-form-btn:hover {
  background-color: #fff;
  color: #F16D7F;
}

.subscribe-form-btn:active {
  background-color: #F16D7F;
  color: #fff;
}

/* ======= end subscribe ======= */
/*начало код крошки*/
.copyright {
  min-height: auto;
  padding: 23px 230px 23px 235px;
  background-color: #222224;
}

.center-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-txt {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 251px;
  color: #FBFBFB;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.socials-item-link {
  margin: auto;
}

.socials-item:hover > svg {
  fill: #FFFFFF;
}

.socials-item:hover {
  background-color: #F16D7F;
}

.socials-item {
  margin: 0 7.29px;
}

/*конец кода крошек*/
.navigation {
  height: 40px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-item {
  margin: 0 15px;
}

.products-card {
  background-color: #F7F7F7;
}

.products-item-center-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.haeder-product-horisontal-line {
  width: 63px;
  height: 3.03px;
  margin: auto;
  background-color: #EF5B70;
}

.header-product-item,
.header-product-item-txt,
.products-item-center-txt,
.products-item-price,
.products-btn-prices {
  margin: auto;
}

.products-item-center-txt {
  max-width: 555px;
}

.products-btn-prices {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47.4px;
}

.haeder-product-horisontal {
  width: 641px;
  height: 1px;
  margin: auto;
  background-color: #EAEAEA;
}

.product-nav-item {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */