@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Lato;
}

.container {
  width: 100%;
}

.header-top {
  background: #222222;
  min-height: 75px;
  padding: 0 20px;
}

.header-center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin: 0 14.4%;*/
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: inherit;
}

.header-logo {
  padding-right: 41px;
}

.header-basket {
  position: relative;
  display: block;
}

.header-basket:hover :first-child {
  fill: orange;
}

.header-basket:active :first-child {
  fill: red;
}

.circle {
  z-index: 1;
  position: absolute;
  left: 26px;
  top: -5px;
}

.five {
  z-index: 2;
  position: absolute;
  left: 31px;
  top: -5px;
  color: #FFFFFF;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  width: 100%;
  min-height: 764px;
  margin: 0 0 65px 0;
  background-color: #F1E4E6;
}

.banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: inherit;
  background-image: url("https://i.postimg.cc/nh71xLyT/Layer-57-removebg-preview-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left -67%;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.banner-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  color: #222222;
}

.banner-subtitle span {
  color: #F16D7F;
}

/*код розовой палочки*/
.banner-title {
  text-transform: uppercase;
  position: relative;
  /*display: flex;*/
  display: block;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 377px;
  /*padding-right: 8.7%;*/
  margin: 0 95px 87px 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.banner-title::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 10px;
  left: -26px;
}

/*конец кода розовой палочки*/
/*код хлебных крошек каталог*/
.center-breadcramb-header-catalog {
  width: 100%;
  background: #F8F3F4;
}

.breadcramb-header-catalog {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 148px;
}

.breadcrumb-item {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.page-name-catalog {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 194px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcramb-act {
  color: #F16D7F;
}

.breadcramb {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  list-style-type: none;
}

.ul.breadcrumb-list > li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb-item-link {
  margin: auto;
}

.breadcrumb-item {
  margin: 0 7.29px;
}

/*конец кода хлебных крошек каталог*/
/*кнопка поиска*/
div.header-left > form > label > svg {
  fill: #FFFFFF;
}

.page-header-search-form {
  width: 26px;
  min-height: 26px;
  position: relative;
  padding-top: 10px;
}

.page-header-search-form:hover svg {
  fill: orange;
}

.page-header-search-btn {
  width: 20px;
  min-height: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  left: 35px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.header-contacts {
  padding-left: 33px;
  padding-right: 33px;
}

.header-contacts:hover :first-child {
  fill: orange;
}

.header-contacts:active :first-child {
  fill: red;
}

.page-header-search-btn:focus {
  width: 180px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.page-header-search-btn:focus ~ label > svg {
  fill: green;
}

.page-header-search-btn:active ~ label > svg {
  fill: red;
}

/*конец кода кнопки поиска*/
/*код меню поиска*/
.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
  background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
  background-color: red;
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}

.menu-btn span::after {
  top: 10px;
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ .menu-list {
  display: block;
}

#menu-switch:checked ~ .page-header-banner {
  border: 8px solid red;
}

.menu-list {
  display: none;
  width: 100%;
  max-width: 232px;
  min-height: 764px;
  /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 75px;
  /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
  right: 0;
  z-index: 20;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6F6E6E;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-list-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
  background: #535353;
}

.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu-title > a,
.menu-list-item > a,
.menu-sublist-item > a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.menu-list-item {
  list-style-type: none;
}

.menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list-item:hover > a {
  color: #9889D7;
}

.menu-list-item:active > a {
  color: #9D2334;
}

.menu-sublist {
  padding: 0 0 0 21.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.menu-sublist-item {
  list-style-type: none;
}

.menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6F6E6E;
}

.menu-sublist-item a {
  text-decoration: none;
}

.menu-sublist-item:hover a {
  text-decoration: underline;
}

.menu-sublist-item:active a {
  text-decoration: none;
}

/*конец кода меню*/
/*код навигации по сайту*/
.catalog-nav {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.center-catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 51px 414px 64px 18px;
}

#switch-filter {
  display: none;
}

#switch-filter:checked ~ .filter-list-wrp {
  display: block;
}

.catalog-menu {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
  /* NB! */
  position: relative;
}

.filter-btn {
  display: block;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}

.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.filter-btn:hover {
  color: #F16D7F;
}

.filter-btn:active {
  color: #222224;
}

.filter-list-wrp {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: -17px;
  padding: 13px 16px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  z-index: 1;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

.filter-list-item::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.filter-list-item a {
  text-transform: uppercase;
  color: #EF5B70;
  text-decoration: none;
}

.filter-list-item:hover::before {
  background-color: red;
}

.filter-list-item:hover a {
  color: red;
}

.filter-list-item:active::before {
  background-color: #ccc;
}

.filter-list-item:active a {
  color: #ccc;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.filter-sublist-item a {
  color: #6F6E6E;
  text-decoration: none;
}

.filter-sublist-item:hover a {
  color: #EF5B70;
}

.filter-sublist-item:active a {
  color: #000;
}

/*.filter-list-wrp {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 16px 16px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}*/
.catalog-naw-item,
.product-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

/*.catalog-txt {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.catalog-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}*/
/*.menu-list-close-btn:checked~.menu-list {
    visibility: hidden;
}

.catalog-menu-btn:hover span,
.catalog-menu-btn:hover span::before,
.catalog-menu-btn:hover span::after
    {
    background-color: orange;
}

/*.catalog-menu-btn:active span,
.catalog-menu-btn:active span::before,
.catalog-menu-btn:active span::after
    {
    background-color: red;
}

.catalog-menu-btn span {
    display: block;
    width: 50%;
    height: 3px;
    background-color: #000000;
    position: relative;
}

.catalog-menu-btn span::before {
    content: "";
    display: block;
    width: 150%;
    height: 3px;
    background-color: #000000;
    ;
    position: absolute;
    top: -6px;
    left: 0;
}

.catalog-menu-btn span::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    top: -10px;
    left: 0;
}

.catalog-menu-btn span::after {
    top: 6px;
}

#catalog-menu-switch {
    display: none;
}

#catalog-menu-switch:checked~.catalog-menu-list {
    display: block;
}

#catalog-menu-switch:checked~.page-header-banner {
    border: 8px solid red;
}

.catalog-menu-list {
    display: none;
    width: 100%;
    max-width: 360px;
    min-height: 531px;
    /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
/*padding: 16px 33px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 339px;*/
/* значение в свойстве top удобно задать через переменную равную высоте первого блока */
/*left: 226px;
    z-index: 30;

}

.catalog-menu-list-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 300px;
}

.catalog-menu-list-close-btn:checked~.catalog-menu-list {
    visibility: hidden;
}

.catalog-menu-list-close-btn::before,
.catalog-menu-list-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
}

.catalog-menu-list-close-btn::after {
    transform: rotate(-45deg)
}

.catalog-menu-list-close-btn:hover::before,
.catalog-menu-list-close-btn:hover::after {
    background: #B7B6B6;
}

.catalog-menu-list-close-btn:active::before,
.catalog-menu-list-close-btn:active::after {
    background: #535353;
}

.catalog-menu-list-title {
    display: block;
    margin: 9px 0 24px 0;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.catalog-menu-title>a,
.catalog-menu-list-item>a,
.catalog-menu-sublist-item>a {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}

.catalog-menu-list-item {
    list-style-type: none;
}

.catalog-menu-list-item>a {
    display: block;
    margin: 0 0 11px 0;
    color: #6F6E6E;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-menu-list-item:hover>a {
    color: #EF5B70;
}

.catalog-menu-list-item:active>a {
    color: #9D2334;
}

.catalog-menu-sublist {
    padding: 0 0 0 21.5px;
    box-sizing: border-box;
    list-style: none;
}

.catalog-menu-sublist-item {
    list-style-type: none;
}

.catalog-menu-sublist-item>a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 11px 0;
    color: #6F6E6E;
}

.catalog-menu-sublist-item a {
    text-decoration: none;
}

.catalog-menu-sublist-item:hover a {
    text-decoration: underline;
}

.catalog-menu-sublist-item:active a {
    text-decoration: none;
}*/
.dropdown-menu {
  display: none;
}

.dropdown-toggle {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.menu-title {
  display: block;
  width: 100%;
  max-width: 377px;
  margin: 0 95px 36px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 49px;
  line-height: 51.6px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.menu-title::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #F16D7F;
  position: absolute;
  top: -9px;
  left: -16px;
}

.list-size,
.list-treading {
  width: 80px;
  border: none;
  background-color: transparent;
  position: relative;
}

.list-treading {
  width: 120px;
}

.list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.list-size-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  right: 27px;
}

.list-size-btn-title:hover {
  color: #F16D7F;
}

.list-size-btn-title:hover svg {
  fill: currentColor;
}

.list-size-btn-title:active {
  color: black;
}

.list-size-btn-title:active svg {
  fill: currentColor;
}

#switch {
  display: none;
}

#switch:checked ~ .list-size-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-size-wrp {
  width: 79px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 18px;
  left: 0px;
  z-index: 1;
}

.list-size-item {
  display: none;
}

.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2)::before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4)::before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6)::before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8)::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png");
  background-size: cover;
  background-position: center;
}

.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}

.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

/*конец кода навигации по сайту*/
/*код рекламного блока*/
.categories {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 96px auto;
  text-decoration: none;
  text-transform: uppercase;
}

.showcase1 {
  background-image: url(images/blonde_in_black_outfit.png);
}

.showcase2 {
  background-image: url(images/man_in_blue_jacket.png);
}

.showcase3 {
  background-image: url(images/curly_boy_in_a_vest.png);
}

.showcase4 {
  height: 180px;
  max-width: 1140px;
  background-image: url(images/business_abstraction.png);
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.showcase {
  width: 360px;
  height: 260px;
  list-style-type: none;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.showcase-line {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.showcase-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.showcase-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  color: #f16d7f;
}

.showcase-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: inherit;
  width: 100%;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25% 0;
}

.showcase-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: inherit;
  width: 100%;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
}

/*конец кода рекламного блока*/
.between-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.footer-center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 86px 10% 0 6%;
  max-width: 1140px;
  margin: auto;
}

.socials-item {
  Width: 31.45px;
  Height: 32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

/*код карточек товара*/
.products {
  width: 100%;
  margin: 0 0 95.5px 0;
}

.products-list {
  list-style-type: none;
  margin: 0 auto 18px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center-block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  margin: 0 auto;
  min-height: inherit;
}

.products-item {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 0 30px 0;
  position: relative;
  background: #F8F8F8;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item:hover .products-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item:hover .products-item-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.products-item:hover .products-item-btn:hover svg {
  fill: #000;
}

.products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.products-item:hover .products-item-btn:active svg {
  fill: #fff;
}

.products-item:hover .products-item-photo-wrp::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
}

.products-item-photo-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F7E4E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.products-item-photo {
  display: block;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-item-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 160px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}

.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-btn {
  display: block;
  width: 100%;
  max-width: 211px;
  margin: 0 auto;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #F26376;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #F26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  word-break: break-all;
}

.products-btn:hover {
  background-color: #F26376;
  color: #fff;
}

.products-btn:active {
  background-color: #fff;
  border: 2px solid #F26376;
  color: #F26376;
}

/*конец кода карточек товара*/
/*начало кода черного блока перед подвалом*/
.center-block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: inherit;
}

.features {
  width: 100%;
  min-height: 341px;
  padding: 20px;
  background-color: #222224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features-list {
  list-style: none;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.features-item:nth-child(4n-1) {
  margin: 0;
}

.features-item-icon {
  display: block;
  margin: 0 0 28px 0;
  fill: #F16D7F;
}

.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23.95px;
  color: #FBFBFB;
  text-align: center;
}

.features-item-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 16.77px;
  text-align: center;
  color: #FBFBFB;
}

/*конец кода черного длока перед подвалом*/
/* ======= subscribe ======= */
.subscribe {
  width: 100%;
  min-height: 448px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("https://i.postimg.cc/tJVR1VWX/Layer-41.png");
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("https://i.postimg.cc/tJVR1VWX/Layer-41.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F3F3F3;
}

.subscribe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 360px;
}

.subscribe-info-avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 0 30px 0;
  border-radius: 50%;
  overflow: hidden;
}

.subscribe-info-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.subscribe-info-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribe-form-wrp {
  width: 100%;
  max-width: 355px;
}

.subscribe-form-title,
.subscribe-form-subtitle {
  color: #222224;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.subscribe-form-title {
  display: block;
  margin-top: 49px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40.13px;
}

.subscribe-form-subtitle {
  display: block;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 356px;
  margin: 0 auto;
}

.subscribe-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 256px;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 30px 0 0 30px;
  background-color: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form-btn {
  display: block;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0 30px 30px 0;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-form-btn:hover {
  background-color: #fff;
  color: #F16D7F;
}

.subscribe-form-btn:active {
  background-color: #F16D7F;
  color: #fff;
}

/* ======= end subscribe ======= */
/*начало код крошки*/
.copyright {
  min-height: auto;
  padding: 23px 6% 23px 6%;
  background-color: #222224;
}

.center-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: auto;
}

.copyright-txt {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 251px;
  color: #FBFBFB;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.socials-item-link {
  margin: auto;
}

.socials-item:hover .socials-item-link {
  fill: #F16D7F;
}

.socials-item:active {
  background-color: #F16D7F;
}

.socials-item:active .socials-item-link {
  fill: #FFFFFF;
}

.socials-item {
  margin: 0 7.29px;
}

/*конец кода крошек*/
.navigation {
  height: 40px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
  max-width: 175px;
  margin: auto;
  padding: 13px;
}

.page-link,
.page-link-active {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}

.page-link-active {
  color: #EF5B70;
}

.page-item:nth-child(1) > a > svg,
.page-item:nth-child(5) > a > svg {
  fill: #000000;
}

.page-item {
  margin: 0 15px;
}

/*код страницы продукты*/
.products-card {
  background-color: #F7F7F7;
}

.products-item-center-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1141px;
  max-height: 601px;
  z-index: 2;
  margin: 65px auto;
}

.haeder-product-horisontal-line {
  width: 63px;
  height: 3.03px;
  margin: 12.1px auto;
  background-color: #EF5B70;
}

.header-product-item,
.header-product-item-txt,
.products-item-center-txt,
.products-item-price,
.products-btn-prices {
  margin: auto;
}

.header-product-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.header-product-item-txt {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  margin-bottom: 48.4px;
}

.products-item-center-txt {
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.products-btn-prices {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47.4px;
  background-color: #FFFFFF;
  margin-top: 49px;
}

.products-btn-prices > svg {
  fill: #EF5B70;
}

.products-btn-prices:hover > svg {
  fill: #FFFFFF;
}

.products-btn-prices:hover > span {
  color: #FFFFFF;
}

.products-btn-prices:hover {
  background-color: #FF6A6A;
}

.products-btn-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin: auto;
}

.products-item-price-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
}

.nav-item:nth-child(1) > svg,
.nav-item:nth-child(2) > svg,
.nav-item:nth-child(3) > svg {
  fill: #6F6E6E;
}

.nav-item {
  margin-right: 10px;
}

.haeder-product-horisontal {
  width: 641px;
  height: 1px;
  margin: auto;
  background-color: #EAEAEA;
  margin: 65px auto;
}

.product-nav-item {
  margin: auto;
}

.center-products-card {
  width: 100%;
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(images/woman_in_white_t_shirt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 1140px;
  margin: 0 auto;
}

.product-page-item {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page-link {
  margin: auto;
}

.product-page-item:hover > .product-page-link > svg {
  fill: #F16D7F;
}

.products-card {
  max-width: 2100px;
  margin: auto;
}

/*начало кода страницы Card*/
.card-product-description {
  width: 262px;
  height: 306px;
  background-image: url(images/gay_in_panama.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-product-list {
  width: 359px;
  height: 284px;
  padding: 22px 0 0 31px;
}

.card-product-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-product-description2 {
  width: 262px;
  height: 306px;
  background-image: url(images/man_in_burgundy_jacket.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 96px 0 72.5px 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.card-left-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 128.5px 0;
}

.card-left {
  margin: 0 128px 0 0;
}

.card-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-product-item-meaning-in-block {
  border: 1px solid #575757;
  padding: 0 15.5px;
  margin: 0 0 0 24.4px;
}

.card-btn-clear,
.card-btn-continue {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  padding: 17px 41px 16px 39px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #A4A4A4;
}

.card-product-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #222222;
  margin-bottom: 42px;
}

.card-product-item {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.adress-quote {
  padding: 10px 14.2px 12px 15.2px;
}

.card-product-item-meaning-price {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #F16D7F;
}

.card-shipping-adress {
  margin: 96px 0 57px 0;
}

.header-card-right {
  font-weight: 300;
  font-size: 16px;
  line-height: 19.2px;
  color: #222222;
  text-transform: uppercase;
}

.adress-country,
.adress-state,
.adress-postcode {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  width: 360px;
  height: 45px;
  padding: 0 0 0 15px;
}

.adress-postcode {
  margin: 20.5px 0 23.5px 0;
}

.adress-country {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 20.5px 0 21px 0;
}

.card-checkout {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-checout-interim-result {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin: 39px 34px 12px 0;
}

.card-checout-result,
.card-checout-result-currency {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  padding: 0 19px 0 0;
}

.card-checout-result-currency {
  color: #F16D7F;
}

.card-checout-btn {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  width: 273px;
  height: 50px;
  text-transform: uppercase;
  margin: auto;
}

.card-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 8px;
  left: 131px;
}

.card-close-btn::before,
.card-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6F6E6E;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-close-btn:hover::before,
.card-close-btn:hover::after {
  background: #B7B6B6;
}

.card-close-btn:active::before,
.card-close-btn:active::after {
  background: #535353;
}

.result-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-checout-horisontal {
  Width: 275px;
  Height: 1px;
  background: #E2E2E2;
  margin: auto;
}

/*конец кода страницы Card*/
/*начало кода страницы regisration*/
.registration-content {
  width: 100%;
}

.registration-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 64px auto 96px auto;
}

.header-registration-right {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20.5px;
}

.registration-name,
.registration-last-name,
.registration-email,
.registration-password {
  width: 360px;
  height: 45px;
}

.registration-gender {
  margin: auto 10px auto 0;
  border: 1px solid #A4A4A4;
}

.radio-female {
  margin-left: 20px;
}

.radio-txt {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-gender-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.registration-last-name {
  margin: 20px 0 31px 0;
}

.header-registration-right-login {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-email {
  margin: 20px 0;
}

.registration-password {
  margin-bottom: 15px;
}

.registration-password-comment {
  max-width: 359px;
  min-height: 32px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registration-right {
  margin-left: 11.23%;
}

.header-card-right {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.header-card-right-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 20px 0 21px 0;
}

.registration-right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.registration-right-item > svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.registration-right-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 23px;
}

/*конец кода страницы regisration*/
@media (max-width: 768px) {
  .header-top {
    padding: 0 32px;
  }
  .banner {
    min-height: 368px;
    margin: 0;
  }
  .banner-top {
    background-position: bottom left;
  }
  .banner-title {
    max-width: 283px;
    font-size: 44px;
    line-height: 52.8px;
    margin: 0;
  }
  .banner-subtitle {
    font-size: 24px;
    line-height: 28.8px;
  }
  .banner-title::before {
    top: -1px;
    left: -28px;
  }
  .categories {
    padding: 20px 16px 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .showcase {
    width: 233px;
    height: 168px;
  }
  .showcase4 {
    height: 116px;
  }
  .showcase-line {
    margin: 0 0 20px 0;
  }
  .showcase-title {
    font-size: 24px;
    line-height: 28.8px;
  }
  .categories {
    margin: 0 auto 155px auto;
  }
}
/*# sourceMappingURL=style.css.map */